body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.list-group-item {height:50px;}
.list-group-item span {vertical-align: middle;}

.txt-score {width:40px; border:1px solid #ddd;}